VITE_SERVER_URL=BACKEND_SERVER_URL
VITE_FIREBASE_APIKEY=FIREBASE_APIKEY
VITE_FIREBASE_AUTHDOMAIN=FIREBASE_AUTHDOMAIN
VITE_FIREBASE_PROJECTID=FIREBASE_PROJECTID
VITE_FIREBASE_STORAGEBUCKET=FIREBASE_STORAGEBUCKET
VITE_FIREBASE_MESSAGINGSENDERID=FIREBASE_MESSAGINGSENDERID
VITE_FIREBASE_APPID=FIREBASE_APPID