DEV_PORT=DEV_PORT
DB_URL=MONGODB_URL
JWT_ACCESS_SECRET=JWT_ACCESS_SECRET
JWT_REFRESH_SECRET=JWT_REFRESH_SECRET
CLIENT_URL=FRONTEND_URL

# FOR SENDING EMAIL FROM NODEMAILER

# REFER https://www.youtube.com/watch?v=lBRnLXwjLw0

SERVICE=SERVICE
EMAIL_PORT=PORT_NUMEBR
SECURE=SECURE
USER=YOUR_EMAIL_ID
PASS=16_DEGIT_CODE_FROM_YOUR_GMAIL_ACCOUNT
