DB_URL_ONLINE=
DB_URL_LOCAL=
CLIENT_URL=
SERVER_URL=
DEV_PORT=DEV_PORT
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRY=10m
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRY=1d

# FOR SENDING EMAIL FROM NODEMAILER

# REFER https://www.youtube.com/watch?v=lBRnLXwjLw0

EMAIL_SERVICE=
EMAIL_PORT=PORT_NUMEBR
SECURE=SECURE
EMAIL_USERID=YOUR_EMAIL_ID
EMAIL_PASSWORD=16_DEGIT_CODE_FROM_YOUR_GMAIL_ACCOUNT


